.game-component {
  background-color: #333;
  border-radius: 10px;
  padding: 40px;
  max-width: 800px;
  width: 100%;
}

.game-component h2 {
  color: #61dafb;
  margin-top: 0;
  font-size: 2rem;
}

.game-component p {
  font-size: 1.1rem;
  line-height: 1.6;
  opacity: 0.9;
}

.game-container {
  display: flex;
  justify-content: space-between; /* Optional: Adjust spacing */
  align-items: center; /* Optional: Align items vertically */
  width: 100%; /* Optional: Ensure it spans the full width */
}

.globe-map {
  width: 70%;
  height: 100vh;
  background-color: #054625;
}

.ticket-shop {
  width: 30%;
  height: 100%;
  background-color: #1c1a81;
}